<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
    {% if not user %}
    <div id="login_area">
        <div id="login_div">
            <p id="login"><a href="/login">Login</a></p>
        </div>
        <div id="signup_div">
            <p id="signup"><a href="/signup">Sign Up</a></p>
        </div>
    </div>
    {% else %}
        <div id="login_div">
            <p>{{ user }}</p>
        </div>
        <div id="signup_div">
            <p><a href="/logout">Logout</a></p>
        </div>
        <br />
    {% endif %}
    <form method="get" action="/post/{{ post.0 }}/{{ comment.0 }}/delete">
        <button type="submit">Delete Comment</button>
    </form>
    <form action="/post/{{ post.0 }}/{{ comment.0 }}/edit" method="post">
        <p>Comment</p>
        <textarea name="content" id="content" rows="8" cols="40">{{ comment.1 }}</textarea>
        <br />
        <button type="submit">Update</button>
    </form>
    <form method="get" action="/post/{{ post.0 }}">
        <button type="submit">Back</button>
    </form>
</body>
</html>