<!DOCTYPE html>
<html>
<head>
    <title>Cata's Blog</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="HTML-KickStart-master/js/kickstart.js"></script> <!-- KICKSTART -->
    <link rel="stylesheet" href="HTML-KickStart-master/css/kickstart.css" media="all" /> <!-- KICKSTART -->
</head>
<body>
    {% if not user %}
    <div id="login_area">
        <div id="login_div">
            <p id="login"><a href="login">Login</a></p>
        </div>
        <div id="signup_div">
            <p id="signup"><a href="signup">Sign Up</a></p>
        </div>
        <h1 id="title">Carter Nelson's Blog</h1>
    </div>
    {% else %}
        <div id="login_div">
            <p>{{ user }}</p>
        </div>
        <div id="signup_div">
            <p><a href="logout">Logout</a></p>
        </div>
        <h1 id="title">Carter Nelson's Blog</h1>
        <br />
        <form method="get" action="/post/new">
            <button type="submit">Create Post</button>
        </form>
    {% endif %}


    {% for post in posts %}
        <div>
            <h3>
                <a href="/post/{{ post.0 }}">{{ post.1 }}</a>
            </h3>
            <p>{{ post.2 }}</p>
            <p>Author: {{ post.3 }}</p>
            <hr />
        </div>
        <br />
        <br />
        <br />
    {% endfor %}

    </div>
    <br class="clear_float"/>
</body>
</html>