<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div id="login_info">
        <form action="/login" method="post">
            <p id="username">Username:</p>
            <input type="text" name="username_text" id="username_text">
            <p id="password">Password:</p>
            <input type="password" name="password_text" id="password_text">
            <br />
            <button type="submit">Login</button>
        </form>
    </div>

    <div id="error_handle">{{ error }}</div>
</body>
</html>