<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <meta charset="UTF-8">
    <title>One Post</title>
</head>
<body>
    {% if not user %}
    <div id="login_area">
        <div id="login_div">
            <p id="login"><a href="/login">Login</a></p>
        </div>
        <div id="signup_div">
            <p id="signup"><a href="/signup">Sign Up</a></p>
        </div>
    </div>
    {% else %}
        <div id="login_div">
            <p>{{ user }}</p>
        </div>
        <div id="signup_div">
            <p><a href="/logout">Logout</a></p>
        </div>
        <br />
    {% endif %}
    <h1>{{ post.1 }}</h1>
    <p>{{ post.2 }}</p>
    <p>Author: {{ post.3 }}</p>
    {% if edit_mode %}
        <form method="get" action="/post/{{ post.0 }}/edit">
            <button type="submit">Edit</button>
        </form>
    {% endif %}
    <form method="get" action="/">
        <button type="submit">Back</button>
    </form>
    <br />
    <h2>Comments:</h2>
    <hr />
    <br />
    {% for comment in comments %}
        <blockquote>{{ comment.1 }}</blockquote>
        <blockquote>User: {{ comment.3 }}</blockquote>
        {% if user == comment.3 %}
            <a href="/post/{{ post.0 }}/{{ comment.0 }}/edit" >Edit</a>
        {%  endif %}
        <br />
        <br />
    {% endfor %}
    <br />
    {% if user %}
        <form action="/post/{{ post.0 }}/comment" method="post">
            <textarea name="content" id="content" rows="8" cols="40"></textarea>
            <br />
            <button type="submit">Post</button>
        </form>
    {% endif %}
</body>
</html>