<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
    {% if not user %}
    <div id="login_area">
        <div id="login_div">
            <p id="login"><a href="/login">Login</a></p>
        </div>
        <div id="signup_div">
            <p id="signup"><a href="/signup">Sign Up</a></p>
        </div>
    </div>
    {% else %}
        <div id="login_div">
            <p>{{ user }}</p>
        </div>
        <div id="signup_div">
            <p><a href="/logout">Logout</a></p>
        </div>
        <br />
    {% endif %}
    {% if edit_mode %}
        <form method="get" action="/post/{{ post.0 }}/delete">
            <button type="submit">Delete Post</button>
        </form>
    {% endif %}
    <form
        {% if edit_mode %}
            action="/post/{{ post.0 }}"
        {% else %}
            action="/post"
        {% endif %}
        method="post">
        <p>Title</p>
        <input type="text" name="title" id="title" value="{{ post.1 }}" />
        <br />
        <br />
        <textarea name="content" id="content" rows="8" cols="40">{{ post.2 }}</textarea>
        <br />
        <button type="submit">
            {% if edit_mode %}
                Update
            {%else %}
                Create
            {% endif %}
        </button>
    </form>
    <form method="get" action="/">
        <button type="submit">Back</button>
    </form>
</body>
</html>